.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
body {
  font-family: "roboto", sans-serif;
}
header {
  border: 1px solid rgba(236, 236, 236, 1);
  background-color: rgba(255, 255, 255, 1);
}
.div-list {
  display: flex;
  justify-content: space-between;
}
.list-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 32px 0px 32px;
}
.info-header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 32px 15px 32px 264px;
}
.email-header {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}
.email-header:hover,
.email-header:focus {
  color: #2196f3;
}
.tel-header {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}
.tel-header:hover,
.tel-header:focus {
  color: #2196f3;
}
.div-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
nav {
  font-family: "roboto", sans-serif;
}
.logo-header {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 3, 84;
  letter-spacing: 3%;
  color: #000000;
  padding: 32px 93px 15px 32px;
}
.link {
  font-family: "roboto" sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 3%;
  color: #212121;
}
.link:hover,
.link:focus {
  color: #2196f3;
}
main {
  font-family: "roboto", sans-serif;
}
footer {
  background-color: #2f303a;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 9px;
  height: 252px;
}
.email-footer {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
  margin-top: 9px;
  margin-bottom: 9px;
}
.tel-footer {
  font-family: "roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
  display: block;
  margin-top: 9px;
}

.adress-footer {
  font-family: "roboto" sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: block;
  line-height: 1, 71;
  letter-spacing: 3%;

  margin-bottom: 9px;
  color: #ffffff;
}
.info-footer {
  gap: 9px;
}
.footer-first {
  background-color: #2f303a;
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-right: 70px;
}

.logo-footer {
  font-family: "raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 3, 84;
  letter-spacing: 3%;
  color: #ffffff;
  margin-top: 60px;
  margin-bottom: 20px;
}
span {
  color: #2196f3;
}
h1 {
  font-family: "roboto", sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1, 36;
  letter-spacing: 6%;
  text-align: center;
  color: #ffffff;
}
h3 {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 7, 14;
  letter-spacing: 3%;
  color: #212121;
}
h4 {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 6, 25;
  letter-spacing: 3%;
  color: #757575;
}
p {
  font-family: "roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1, 71;
  letter-spacing: 3%;
  color: #757575;
}

.section {
  font-family: "roboto", sans-serif;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/proecte.png);
  background-repeat: no-repeat;
  background-position: center;
  padding: 200px 0;
}
.title-white {
  font-weight: 700;
  font-size: 44px;
  line-height: 1, 37;
  letter-spacing: 0, 06em;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  width: 700px;
  margin: 0 auto 30px;
}
.button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 6%;
  text-align: center;
  display: block;
  background-color: #2196f3;
  color: #ffffff;
  margin: 0 auto;
  border: #2196f3;
  border-radius: 4px;
  padding: 10px 32px;
}

.section-info {
  margin-top: 94px;
  margin-bottom: 94px;

  text-align: left;
  display: flex;
  justify-content: space-between;
  gap:30px;
}
allery:nth-child(1)::before {
  content: "";
  width: 270px;
  height: 120px;
  display: inline-block;
  background-image: url(../image/antenna\ 1.png);

  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(245, 244, 250, 1);
  padding: 25px 100px;
}
.gallery:nth-child(2)::before {
  content: "";
  width: 270px;
  height: 120px;
  display: inline-block;
  background-image: url(../image/clock\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(245, 244, 250, 1);
  padding: 25px 100px;
}
.gallery:nth-child(3)::before {
  content: "";
  width: 270px;
  height: 120px;
  display: inline-block;
  background-image: url(../image/diagram\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(245, 244, 250, 1);
  padding: 25px 100px;
}
.gallery:nth-child(4)::before {
  content: "";
  width: 270px;
  height: 120px;
  display: inline-block;
  background-image: url(../image/astronaut\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba(245, 244, 250, 1);
  padding: 25px 100px;
}

.list-info {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 0px 15px 0px;
}
.h3-list-info {
  margin-top: 30px;
  margin-bottom: 10px;
}
.title-black {
  font-family: "roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 2, 77;
  letter-spacing: 3%;
  text-align: center;
  color: #212121;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 94px;
}
.list-photo {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.gallery-image {
  width: 370px;
  height: 294px;
}
.section-team {
  margin-top: 94px;
  background: rgba(245, 244, 250, 1);

}
.list-team {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding-bottom: 94px;
}
.gallery-team {
  width: 270px;
  height: 260px;
}
.item-team {
  border-radius: 4px;
  background-color: #fff;

  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.h3-team {
  text-align: center;
  margin-top: 30px;
}
.h4-team {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
}
.section-production {
  margin-bottom: 0px;
  margin-top: 94px;
}

.list-nav-production {
  display: flex;
  justify-content: space-between;
  gap: 8px;

  margin: 94px 312px 50px;
}

.list-production {
  font-family: "roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 625;
  letter-spacing: 3%;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  height: 1360px;
}
.btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;

  padding: 6px 22px ;
  border: #2196f3;
  background-color: rgba(245, 244, 250, 1);
  border-radius: 4px;
}
.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);

  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);

  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.item-article {
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid rgba(238, 238, 238, 1);
}
.item-article:hover {
  background-color: #fff;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);

  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.p-article {
  text-align: left;
  margin-left: 24px;
}
.h3-article {
  text-align: left;
  margin-left: 24px;
  margin-top: 20px;
  margin-bottom: 4px;
}
.list-icon {
  align-items: center;
  display: flex block;
  gap: 30px;
  margin: 0px 0px 94px;
}
.ya-co {
  width: 41px;
  height: 46px;

  margin: 23px 65px 22px 64px;
  fill: #afb1b8;
}
.company {
  width: 40px;
  height: 51px;
  margin: 19px 65px 21px;
  fill: #afb1b8;
}
.company-black {
  width: 43px;
  height: 41px;
  margin: 24px 64px 26px 61px;
  fill: #afb1b8;
}
.poster-peters {
  width: 84px;
  height: 40px;
  margin: 24px 42px 26px 43px;
  fill: #afb1b8;
}
.brand {
  width: 106px;
  height: 60px;
  margin: 16px 32px;
  fill: #afb1b8;
}
.company-cube {
  width: 93px;
  height: 43px;
  margin: 22px 38px 25px;
  fill: #afb1b8;
}
.item-icon {
  border-radius: 4px;
  border: 1px solid #afb1b8;
}
.item-icon:hover,
.item-icon:focus {
  border-radius: 4px;
  border: 1px solid #2196f3;
}
.icon:hover,
.icon:focus {
  fill: #2196f3;
}
.icon-header {
  display: flex;
}

.envelope {
  width: 16px;
  height: 12px;
  margin-right: 2px;
  fill: #757575;
}
.smartphone {
  width: 10px;
  height: 16px;
  margin-right: 2px;
  fill: #757575;
}
.sous-title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 75px;
  margin-bottom:20px ;
}
.icon-footer {
  fill: #ffffff;
  padding: 12px;
  border-radius: 50%;
  background-color: #ffffff1a;
}
.icone-footer {
  width: 20px;
  height: 20px;
  
}
.icon-footer:hover,
.icon-footer:focus {
  background-color: #2196f3;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  padding: 12px;
  border-radius: 50%;
  background-color: none;
}
.list-icone {
  display: flex;
  gap: 10px;
}

.div-footer {
  display: flex;
}
.icon-black {

 width: 20px;
  height: 20px;
}
.icone-black {
padding: 12px;
 fill: #AFB1B8;
border-radius: 50%;
  }

.icone-black:hover,.icone-black:focus {
 background-color: #2196f3;
 fill: #ffffff;
 border-radius: 50%;
 width: 44px;
  height: 44px;
  padding: 12px;
}
.list-icon-black {
 display: flex;
 gap: 10px;
 margin: 0px 30px 30px 32px;
}